@import '@style/breakpoints';
.exp-card {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 1fr;
  padding: 1.2em 2em;
}

.l {
  width: 100%;
  display: block;
  text-align: end;
  padding-right: 3em;
  border-right: 2px solid var(--clr-black);

  .title {
    font-size: var(--fs-1);
    font-weight: 600;
    letter-spacing: var(--ls-1);
  }
  .time {
    font-size: var(--fs-2);
    margin-top: 2em;
    letter-spacing: var(--ls-1);
  }
}
.r {
  padding-left: 3em;
  > div {
    font-size: var(--fs-2);
    font-weight: 400;
    line-height: 2.38rem;
    letter-spacing: var(--ls-1);
  }
}

@mixin mq-l {
  .l {
    border-right: 0;
    .title {
      text-align: left;
      white-space: nowrap;
      margin-top: 0.5rem;
    }
    .time {
      display: flex;
      margin-top: 0.5rem;
      gap: 1rem;
      > div {
        &:nth-child(1) {
          margin-left: 0.5rem;
        }
        &:nth-child(2) {
          &::before {
            display: inline-block;
            content: '⇀';
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}

@mixin mq-r {
  .r {
    margin-top: 0.5rem;
    padding-left: 0;
    > div {
      &::before {
        display: inline-block;
        content: '•';
        margin-left: 0.5rem;
      }
    }
  }
}

@mixin mq-exp-card {
  .exp-card {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

@include s {
  @include mq-exp-card;
  @include mq-l;
  @include mq-r;
}

@include xs {
  @include mq-exp-card;
  @include mq-l;
  @include mq-r;
}
