@import '@style/breakpoints';

.wrap {
  width: 100%;
  height: 100%;
  //   background-color: #f5f5f5;
  background-color: var(--clr-white);
  // background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%239c9b9d' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  display: grid;
  place-items: center;
}

.page-card {
  width: min(1380px, 90%);
  height: 95%;
  border-radius: 6px;
  background-color: var(--clr-white);
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.top {
  width: 100%;
  padding-top: 8em;
  display: grid;
  grid-template-columns: 1fr;
}

.mark {
  width: 100%;
  transform: translateX(-6rem);
  display: flex;
  .left-line,
  .right-line {
    width: min(100px, 100%);
    height: 2px;
    background-color: var(--clr-black);
    align-self: center;
  }

  .title {
    font-size: 2rem;
    letter-spacing: var(--ls-1);
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    &::after {
      font-size: var(--fs-1);
      margin-top: 0.4rem;
      letter-spacing: 1rem;
      display: block;
      content: attr(sub-txt);
      color: var(--clr-secondary);
    }
  }
}

.content {
  width: 100%;
  max-height: 90%;
}

@include s {
  .page-card {
    width: 95%;
  }
  .top {
    place-items: center;
  }
  .mark {
    transform: translateX(0);
  }
}

@include xs {
  .page-card {
    width: 95%;
  }
  .top {
    place-items: center;
  }
  .mark {
    transform: translateX(0);
  }
}
