.pop-edge {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
}

.pop-ctx-wrap {
  max-width: 95%;
  border-radius: 8px;
  padding: 4em 2em 2em 4em;
  position: relative;
  background-color: var(--clr-white);
  overflow: hidden;
  .close {
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url('/png/close_icon.png');
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    right: 0;
  }
}
.ctx-wrap {
  width: max(300px, 100%);
  max-height: 60vh;
  overflow-y: scroll;
}
