.card {
  width: 40vw;
  height: 400px;
  background-color: bisque;
}

.card0 {
  transform: scale(0.5);
}

.stage {
  background-color: pink;
  display: flex;
  gap: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-40vw);
}

.window {
  border: 1px solid black;
  width: 20rem;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.wrap {
  display: grid;
  place-items: center;
}

.scene {
  margin-top: 5rem;
  width: 50%;
  height: 60vh;
  height: calc(var(--vh, 1vh) * 60);
  // border: 1px solid rgb(214, 26, 26);
  position: relative;
  // perspective: 4000px;
  // perspective: unset;
}
.btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40%;
  z-index: 2;
  &.left {
    left: -20%;
  }
  &.right {
    right: -20%;
  }
  border: 1px solid #ccc;
  border-radius: 50%;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  // background-color: pink;
}
.carousel-cell {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  // border: 1px solid black;
  transition: transform 1s;
  display: grid;
  place-items: center;
  backface-visibility: hidden;
}

.skill-card {
  width: 48%;
}
