.heart-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 81vh;
  > svg {
    > path {
      transition: transform 6s;
    }
  }
  overflow: hidden;
}

.heart {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  width: min(1920px, 100%);
  height: 1000px;
  pointer-events: none;
  transform: translate3d(-50%, 0, 0);
}
