@import '@style/breakpoints';

.wrap {
  width: 100%;
  padding: 2em 0.5em;
  min-height: 70vh;
  min-height: calc(var(--vh, 1vh) * 70);
  display: grid;
  grid-template-rows: 40% 1fr 10% 5%;
  gap: 1em;
}

//TODO img source switch
.photo {
  width: min(500px, 95%);
  // max-height: 250px;
  margin: 0 auto;
  position: relative;
  // background-image: url('https://ik.imagekit.io/7ul2jfhwvqq/tr:ar-4-3,w-500/contact_cc7uQVQ8o');
  // background-image: -webkit-image-set(
  //   url('https://ik.imagekit.io/7ul2jfhwvqq/tr:ar-4-3,w-300/contact_cc7uQVQ8o') 300w,
  //   url('https://ik.imagekit.io/7ul2jfhwvqq/tr:ar-4-3,w-500/contact_cc7uQVQ8o') 500w
  // );
  // background-image: image-set(
  //   url('https://ik.imagekit.io/7ul2jfhwvqq/tr:ar-4-3,w-300/contact_cc7uQVQ8o') 300w,
  //   url('https://ik.imagekit.io/7ul2jfhwvqq/tr:ar-4-3,w-500/contact_cc7uQVQ8o') 500w
  // );
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  border-radius: 8px 6px;
  > img {
    height: 100%;
    aspect-ratio: 5/1;
    object-fit: cover;
    border-radius: 6px;
  }
  &::after {
    display: block;
    content: 'HUOSHENG CHIOU';
    font-size: var(--fs-1);
    letter-spacing: var(--ls-1);
    position: absolute;
    bottom: -5%;
    right: 5%;
    padding: 0.5em;
    border-radius: 8px 6px;
    background-color: var(--clr-white);
  }
}
.info-wrap {
  display: grid;
  place-items: center;
}
.info {
  width: min(400px, 100%);
  color: var(--clr-black);
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 0 1em;
  /* From https://css.glass */
  // background: rgba(255, 255, 255, 0.13);
  // padding: 2em;
  // border-radius: 6px;
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  // backdrop-filter: blur(5.6px);
  // -webkit-backdrop-filter: blur(5.6px);
  // border: 1px solid rgba(255, 255, 255, 0.15);
  > strong,
  div {
    display: flex;
    align-items: center;
    font-size: var(--fs-1);
    letter-spacing: var(--ls-1);
  }
  > div {
    &:hover {
      background-color: rgb(207, 207, 207);
    }
  }
}

.copy-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 0.2em;
  background-image: url('/svg/copy.svg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  &.copied {
    background-image: url('/svg/copied.svg');
  }
}

.btn-block {
  display: flex;
  justify-content: center;
  .cv-btn {
    width: 240px;
  }
}

.copy-r {
  width: 100%;
  font-size: var(--fs-2);
  letter-spacing: var(--ls-1);
  text-align: end;
  padding-right: 1em;
}

@mixin mq-info {
  .info {
    grid-template-columns: 150px 1fr;
    gap: 2em;
    z-index: 1;
    > strong {
      text-align: end;
    }
    > div {
      padding-left: 0.2em;
    }
  }
}
@mixin mq-photo {
  .photo {
    &::before {
      display: block;
      content: '';
      width: 30%;
      aspect-ratio: 1/1;
      position: absolute;
      bottom: -50%;
      right: -10%;
      border-radius: 50%;
      transform: scale(1.2);
      box-shadow: 0px 0px 0px 1px white;
    }
    &::after {
      width: 30%;
      aspect-ratio: 1/1;
      text-align: center;
      padding: 2em;
      line-height: 30px;
      bottom: -50%;
      right: -10%;
      border-radius: 50%;
    }
  }
}

@mixin mq-copy-r {
  .copy-r {
    transform: translateY(-15%);
  }
}

@include l {
  @include mq-info;
  @include mq-photo;
  .copy-r {
    transform: translateY(10vh);
  }
}

@include m {
  @include mq-info;
  @include mq-photo;
  .copy-r {
    transform: translateY(10vh);
  }
}

@include s {
  // @include mq-copy-r;
  .copy-r {
    transform: translateY(-2vh);
  }
}

@include xs {
  // @include mq-copy-r;
  .copy-r {
    transform: translateY(-2vh);
  }
}
