@import '@style/breakpoints';

.wrap {
  width: 100%;
  min-height: 70vh;
  min-height: calc(var(--vh, 1vh) * 70);
  position: relative;
  background-color: transparent;
  display: grid;
  place-items: center;
}

.des-wrap {
  max-width: 100%;
  display: grid;
  gap: 2rem;
  z-index: 1;
}

.edu-unit {
  width: 100%;
  display: grid;
  grid-template-columns: 100px minmax(100px, 1fr);
  place-items: center;
  font-size: var(--fs-1);
  .ym {
    border-left: 3px solid var(--clr-primary);
    padding-left: 2rem;
    > p {
      letter-spacing: var(--ls-1);
    }
  }
  .title {
    padding-left: 2rem;
    letter-spacing: var(--ls-2);
    font-weight: 600;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
  }
}

@mixin mq-edu-unit {
  .edu-unit {
    grid-template-columns: 1fr;
    .ym {
      width: 100%;
      display: flex;
      background-color: yello;
      > p {
        &:nth-child(2) {
          &::before {
            display: inline-block;
            content: '➮ ';
            margin-left: 0.5em;
          }
        }
      }
    }
    .title {
      margin-top: 0.5em;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      > span {
        text-align: center;
      }
    }
  }
}

@include s {
  @include mq-edu-unit;
}

@include xs {
  @include mq-edu-unit;
}
