@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,600;8..144,800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &::before,
  ::after {
    box-sizing: border-box;
  }
}
html {
  font-size: 10px;
}

// * {
//   outline: 1px solid red;
// }
body {
  font-family: 'Roboto Flex', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--clr-black) var(--clr-white);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: var(--clr-white);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--clr-black);
    border-radius: 10px;
    border: 3px solid var(--clr-white);
  }
}

strong {
  font-weight: 600;
}

img {
  display: block;
  max-width: 100%;
}
