$breakpoints: (
  's': 375px,
  'm': 720px,
  'l': 1200px,
);

@mixin xs {
  @media screen and (max-width: map-get($breakpoints, 's')) {
    @content;
  }
}

@mixin s {
  @media screen and (min-width: map-get($breakpoints, 's')) and (max-width: map-get($breakpoints, 'm')) {
    @content;
  }
}

@mixin m {
  @media screen and (min-width: map-get($breakpoints, 'm')) and (max-width: map-get($breakpoints, 'l')) {
    @content;
  }
}

@mixin l {
  @media screen and (min-width: map-get($breakpoints, 'l')) {
    @content;
  }
}
