// colors
$primary: hsl(21, 56%, 20%) !default;
$secondary: hsl(71, 5%, 43%) !default;
$blue: hsl(212, 17%, 80%);
$gray: hsl(0, 0%, 23%);
$white: hsl(0, 0%, 99%);
$black: hsl(0, 0%, 0%);
//font
$base-font-size: 1rem;
$base-letter-spacing: 0.2rem;

:root {
  //colors
  --clr-primary: #{$primary};
  --clr-secondary: #{$secondary};
  --clr-white: #{$white};
  --clr-black: #{$black};
  --clr-gray: #{$gray};
  //font-size
  --fs-1: #{$base-font-size * 1.6};
  --fs-2: #{$base-font-size * 1.4};
  //letter-spacing
  --ls-1: #{$base-letter-spacing}; //.2
  --ls-2: #{$base-letter-spacing * 2.5}; //.5
}
