.skill-card {
  width: min(78rem, 100%);
  .card-content {
    width: 100%;
    min-height: 16.5rem;
    position: relative;
    transition: transform 2s;
    transform-style: preserve-3d;
    // transform: rotateX(0.5turn);

    &:hover {
      transform: rotateX(0.5turn);
    }
  }
  .topic {
    font-size: 4.8rem;
    letter-spacing: 1rem;
  }
  .front,
  .back {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 6px;
    border: 1px solid #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  .front {
    background: rgb(255, 255, 255);
    display: grid;
    place-items: center;

    .topic {
      transform: translateZ(6rem);
    }
  }

  .back {
    transform: rotateX(0.5turn);
    background: rgb(255, 255, 255);
  }
}

.back-content {
  width: 100%;
  min-height: 100%;
  transform: translateZ(6rem);
  // background: teal;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr) 10px);
  .seperate {
    // max-width: 50px;
    display: grid;
    place-items: center;
    .comma {
      width: 20px;
      height: 20px;
      background-image: url('/svg/ellipsis.svg');
      background-size: cover;
    }
  }
  .unit {
    line-height: 2.38rem;
    letter-spacing: var(--ls-1);
    text-align: center;
    padding: 2em 2em;
    > div {
      font-size: var(--fs-2);
      min-height: 10%;
    }
  }
}
