@import '@style/breakpoints';

.wrap {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 800px;
}

.wave-1 {
  width: max(100vw, 100%);
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transform: rotateX(40deg) translateY(-2%) translateZ(280px);
}

@mixin site-label {
  font-size: var(--fs-1);
  line-height: 50%;
  position: absolute;
  top: 5%;
  left: 5%;
  &::before {
    width: 5vw;
    height: 16px;
    display: block;
    content: '';
    position: absolute;
    margin-right: 8px;
    transform: translate(-110%, -5px);
    background-color: var(--clr-primary);
  }
}

.site-name {
  @include site-label;
}
.author {
  @include site-label;
  top: 8%;
  left: 8%;
  &::before {
    width: 10vw;
  }
}

.circle-block {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  transform-style: preserve-3d;
}

.circle {
  width: 100%;
  display: flex;
}

.c1 {
  grid-column: 2/2;
  justify-content: flex-end;
  transform: rotateX(40deg) rotateY(-3deg) translateX(-5%);
  position: relative;
  &::after {
    display: block;
    content: '';
    width: 50px;
    height: 100px;
    position: absolute;
    top: 5%;
    right: 10%;
    transform: rotateX(5deg);
    background-image: url('/svg/rock5.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.c2 {
  justify-content: center;
  grid-column: 3/-1;
  // background-color: aquamarine;
  transform: rotateX(35deg) rotateY(-5deg);
  position: relative;
  z-index: 1;
  &::after {
    display: block;
    content: '';
    width: 150px;
    height: 150px;
    position: absolute;
    top: 20%;
    left: 48%;
    transform: rotateX(5deg);
    background-image: url('/svg/rock1.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
.c3 {
  grid-column: span 2;
  grid-row: span 2;
  justify-content: flex-end;
  position: relative;
  transform: rotateX(35deg);
  > svg:nth-child(2) {
    transform: translateX(-36%) translateY(-36%);
  }

  &::before {
    display: block;
    content: '';
    width: 150px;
    height: 200px;
    position: absolute;
    top: 5%;
    right: 28%;
    transform-style: unset;
    background-image: url('/svg/rock6.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    transform: translateX(-80%);
  }
  &::after {
    display: block;
    content: '';
    width: 150px;
    height: 200px;
    position: absolute;
    top: -20%;
    right: 20%;
    transform-style: unset;
    background-image: url('/svg/rock7.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
.c4 {
  // background-color: aquamarine;
  grid-column: 3/-1;
  grid-row: 3/-1;
  justify-content: center;
  transform: rotateX(40deg) rotateY(-10deg);
  position: relative;
  &::after {
    display: block;
    content: '';
    width: 150px;
    height: 200px;
    position: absolute;
    top: 0%;
    right: 40%;
    transform: rotateY(20deg);
    // transform-style: unset;
    background-image: url('/svg/rock8.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
  }
}

.icon {
  position: absolute;
  bottom: 10%;
  left: 50%;
}

@include l {
  .site-name {
    left: 2%;
  }
  .author {
    left: 3%;
  }
}

@include m {
  .wave-1 {
    height: 150vh;
    transform: rotateX(40deg) translateY(-60%) translateZ(280px);
  }
  .author {
    left: 6%;
  }
  .c3 {
    grid-column: 2/3;
    grid-row: 2/3;
    transform: rotateX(35deg) translateX(-100px);
    > svg:nth-child(2) {
      transform: translateX(-36%) translateY(-36%);
    }
  }
  .c2 {
    grid-column: 4/-1;
  }
}

@include s {
  .wave-1 {
    height: 150vh;
    transform: rotateX(40deg) translateY(-80%);
  }
  .c1 {
    &::after {
      transform: translateX(-50%);
    }
  }
  .c2 {
    grid-column: 4/-1;
  }
  .c3 {
    grid-column: span 4;
    grid-row: span 4;
    transform: rotateX(35deg) translateX(-50px);
    > svg:nth-child(2) {
      opacity: 0;
    }
    &::after {
      opacity: 0;
    }
  }
  .icon {
    bottom: 2%;
  }
}

@include xs {
  .wave-1 {
    height: 150vh;
    transform: rotateX(40deg) translateY(-80%);
  }
  .c2 {
    opacity: 0;
  }
  .c3 {
    grid-column: span 4;
    grid-row: span 4;
    > svg:nth-child(2) {
      opacity: 0;
    }
  }
  .c1 {
    &::after {
      transform: translateX(-50%);
    }
  }
  .icon {
    bottom: 2%;
  }
}
