@import '@style/breakpoints';

.wrap {
  min-height: 70vh;
  min-height: calc(var(--vh, 1vh) * 70);
  display: grid;
  place-items: center;
  .main-title {
    text-align: center;
    font-size: clamp(5rem, 10vw, 10rem);
    letter-spacing: 1.5rem;
    color: var(--clr-white);
    > span {
      background-image: url('https://ik.imagekit.io/7ul2jfhwvqq/tr:w-800,h-300s/self_1_JIU-YTHyy.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1654003027447');
      background-repeat: no-repeat;
      background-position: 100% 0%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: clipMove 25s linear infinite;
      -webkit-backface-visibility: hidden;
    }
  }
  .des {
    width: max(40%, 300px);
    margin-top: 3rem;
    font-size: var(--fs-1);
    letter-spacing: var(--ls-1);
  }
  .equation {
    max-width: max(100%, 23%);
    min-height: 2rem;
    line-height: 3rem;
    > span {
      font-size: var(--fs-2);
      letter-spacing: var(--ls-2);
    }
  }
}

@keyframes clipMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
