.pop-ctx {
  width: 100%;
  display: grid;
  grid-template-columns: 10px 1fr;
  gap: 3rem;
}

.count {
  width: 100%;
  height: 100%;
  &::after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border-right: 2px solid #333;
    transform: translateY(50%);
  }
}

.work {
  font-size: var(--fs-1);
  letter-spacing: var(--ls-1);
}
