@import '@style/breakpoints';

.cv-wrap {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100); //利用js修正 vh
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  > section {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    scroll-snap-align: start;
    overflow: hidden;
  }
}

// .isMobile {
//   height: calc(100vh - 100px);
//   background-color: yellow;
//   > section {
//     height: calc(100vh - 100px);
//   }
// }
