@import '@style/breakpoints';

.wrap {
  width: 100%;
  display: flex;
  gap: 1rem;
  position: fixed;
  top: 5%;
  right: 0;
  z-index: 5;
  justify-content: end;
  padding-right: 10%;
}

.tab {
  font-size: var(--fs-1);
  letter-spacing: 0.5rem;
  cursor: pointer;
  padding: 0.8rem;
  position: relative;
  &::before {
    display: block;
    content: '';
    width: 50%;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 20%;
    left: 25%;
    background-color: var(--clr-gray);
    z-index: -1;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.5s;
  }
  &::after {
    display: block;
    content: '';
    width: 8px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid var(--clr-gray);
    position: absolute;
    top: 0;
    left: -5%;
  }

  &.on {
    color: var(--clr-primary);
    &::after {
      background-color: var(--clr-primary);
      border-color: var(--clr-primary);
    }
  }
}

@include l {
  .wrap {
    padding-right: 15%;
  }
}

@include s {
  .wrap {
    gap: 0.1rem;
  }
}

@include xs {
  .wrap {
    gap: 0.1rem;
  }
}

@media (hover: hover) {
  .tab {
    &:hover {
      color: var(--clr-white);
      &::before {
        transform: scale(2);
      }
    }
  }
}
