@import '@style/breakpoints';

.wrap {
  width: 100%;
  min-height: 70vh;
  min-height: calc(var(--vh, 1vh) * 70);
  margin-top: 3em;
  display: grid;
  place-items: center;
  gap: 3rem;
}

.job-meta {
  font-size: var(--fs-1);
  font-weight: 600;
  letter-spacing: var(--ls-1);
  .des {
    margin-top: 0.5em;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    .detail-btn {
      width: 48px;
      height: 20px;
      border: 1px solid var(--clr-gray);
      border-radius: 8px 6px;
      background-image: url('/png/detail.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@mixin mq-m-wrap {
  .wrap {
    margin-top: 0;
    gap: 0;
  }
}

@mixin mq-wrap {
  .wrap {
    margin-top: 0;
    grid-template-columns: unset;
    grid-template-rows: repeat(auto-fit, 60px);
    place-items: unset;
    padding: 4em 2em 0;
    // gap: 1rem;
  }
}

@include m {
  @include mq-m-wrap;
}

@include s {
  @include mq-wrap;
}

@include xs {
  @include mq-wrap;
}
