@import '@style/breakpoints';

.wrap {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.scene {
  width: clamp(350px, 100%, 680px);
  height: 60vh;
  height: calc(var(--vh, 1vh) * 60);
  position: relative;
  margin-top: 3em;
  // perspective: 4000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}
.carousel-cell {
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: transform 1s;
  backface-visibility: hidden;
}

.btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40%;
  z-index: 2;
  border: 1px solid var(--clr-black);
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;

  &.left {
    left: -10%;
    background-color: var(--clr-white);
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px;

    @include m {
      top: 40%;
      left: 0%;
    }
    @include s {
      left: 55%;
      top: -10%;
    }
    @include xs {
      left: 55%;
      top: -10%;
    }
  }
  &.right {
    right: -10%;
    background-color: var(--clr-white);
    box-shadow: -1px -1px 0px 0px, -2px -2px 0px 0px, -3px -3px 0px 0px, -4px -4px 0px 0px;
    transform: rotate(180deg);
    @include m {
      top: 40%;
      right: 0%;
    }
    @include s {
      right: 10%;
      top: -10%;
    }
    @include xs {
      right: 10%;
      top: -10%;
    }
  }

  &::before {
    display: block;
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    // transform: translate(-25%, -25%);
    top: -50%;
    left: -50%;
    background-color: var(--clr-gray);
    -webkit-mask: url('/svg/btn_circle.svg') no-repeat center center;
    mask: url('/svg/btn_circle.svg') no-repeat center center;
    opacity: 0;
    transition: 0.5s;
  }
  &::after {
    display: block;
    content: url('/svg/btn_circle.svg');
    width: 250%;
    height: 250%;
    position: absolute;
    // transform: translate(-30%, -110%);
    top: -75%;
    left: -75%;
    background-size: contain;
    opacity: 0;
    transition: 0.5s;
  }
  &:hover {
    &::before {
      opacity: 1;
      -webkit-animation: rotate-center 6s linear infinite alternate-reverse both;
      animation: rotate-center 6s linear infinite alternate-reverse both;
    }
    &::after {
      opacity: 1;
      -webkit-animation: rotate-center 6s linear infinite;
      animation: rotate-center 6s linear infinite;
    }
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
