@import '@style/breakpoints';

.edge {
  width: min(350px, 100%);
  min-height: 50%;
  display: grid;
  grid-template-rows: 200px 1fr;
  gap: 2rem;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

.head {
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
  // box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: var(--clr-white);
  .title {
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 1.2rem;
  }
  // &::before {
  //   width: 3%;
  //   height: 60%;
  //   position: absolute;
  //   display: block;
  //   content: '';
  //   border: 3px solid black;
  //   border-right: 0;
  //   top: 15%;
  //   left: -2%;
  // }
  // &::after {
  //   width: 3%;
  //   height: 60%;
  //   position: absolute;
  //   display: block;
  //   content: '';
  //   border: 3px solid black;
  //   border-left: 0;
  //   top: 15%;
  //   right: -2%;
  // }

  &::before {
    display: block;
    content: '';
    width: 150%;
    height: 100%;
    position: absolute;
    transform: translate(-5%, 20%);
    z-index: -1;
    background: url('/svg/head_ink.svg') no-repeat;
    background-size: contain;
  }
}

.content {
  max-width: 100%;
  min-height: 200px;
  display: grid;
  grid-template-rows: repeat(auto-fill, 40px);
  position: relative;
  padding: 3em 2em 0;
  &::after {
    display: block;
    content: '';
    top: 0;
    right: 0;
    position: absolute;
    width: 80px;
    height: 80px;
    animation: changeBg 5s infinite linear alternate;
  }
}

.skill-line {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  > span {
    font-size: var(--fs-1);
    white-space: nowrap;
  }
}

@keyframes changeBg {
  0% {
    background-image: url('/svg/dotbrick1.svg');
  }
  25% {
    background-image: url('/svg/dotbrick2.svg');
  }
  50% {
    background-image: url('/svg/dotbrick3.svg');
  }
  75% {
    background-image: url('/svg/dotbrick4.svg');
  }
  100% {
    background-image: url('/svg/dotbrick5.svg');
  }
}
