.btn {
  all: unset;
  width: 100%;
  padding: 0.25em 0.75em;
  font-size: var(--fs-1);
  letter-spacing: var(--ls-2);
  text-align: center;
  color: var(--clr-black);
  cursor: pointer;
  border: 3px solid;
  border-radius: 6px 8px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
}
